.header{
    background-color: rgb(0,162,232);
    padding: 7px;
    display: flex;    
    align-items: baseline;   
}
.header a {
    text-decoration: none;
}
.header h1 a{
    display: inline;
    margin-left: 5px;
    color: rgb(255,127,39);
}
.header h2 a, h3 a{
    display: inline;
    margin: 10px;
    color: white;
}
.header h3 {
    justify-self: end;
    margin-left: auto;
}
.header .logIn-link {
    text-decoration: underline;
    text-decoration-color: white;
}