.order-list-container {
    max-height:652px;
    width: 100%;
    overflow:auto;
    overflow-x:hidden;
    display: flex;
    justify-content: center;
}

.order-list {
    display: flex;    
}

.order-list-table table{
    font-size: 20px;
    background-color: rgb(127,127,127);
    margin: 10px;
    color: rgb(127,127,127);
    font-size: 20px;
    font-weight: bold;
}

.order-list-table td{
    border: solid;
    border-width: 1px;
    border-color: rgb(127,127,127);  
    background-color: white;
    padding: 8px;
}

.order-list-table td a{
    cursor: pointer;
    color: rgb(127,127,127);
}